<div class="h-100 p-3 bg-light border rounded-3 my-3 shadow d-flex justify-content-between">
  <div class= "flex-grow-1">
    <h2><%=  @task.title %></h2>
    <p>Details: <%= @task.details %></p>
    <%= form_for(@task) do |f| %>
      <%= f.check_box :completed , class:"form-check-input me-1"%>
      <%= f.label :completed, class:"form-check-label" %>
    <% end %>
  </div >
  <div style= "width:200px" class="d-flex justify-content-around align-items-center">
    <%= link_to "Edit", edit_task_path(@task), class: "btn btn-success" %>
    <%= link_to "Delete",task_path(@task), data: { turbo_method: 'delete', turbo_confirm: "Delete #{@task.title}?" }, class: 'btn btn-danger' %>
    <%= link_to "Home", root_path, class: "btn btn-secondary"   %>
  </div>
</div>
